

/*.masonry-item {
    float: left;
    width: 220px;
    margin: 20px;
}*/

.grid-item {
    width: 200px;
}

.grid-item--width2 {
    width: 400px;
}

.tile {
    margin: 10px;
}

.masonrytile {
}
#search {
    border: none;
    outline: none;
    font-size: 72px;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
}