

.tile {
    margin: 10px;
}

.masonrytile {
}
#search {
    border: none;
    outline: none;
    font-size: 72px;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
