@using System.Threading.Tasks
@using Microsoft.ApplicationInsights.Extensibility
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TigerSpike</title>

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body ng-app="TigerSpike">

    @RenderBody()

    <environment names="Development,Staging,Production">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
